<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script type="text/javascript" src="jquery.min.js" ></script>
    <!--<script type="text/javascript" src="my_script2.js" ></script>-->

</head>
<body>
    <div class="container">
        <h2><b><center>{{h1}}</center></b></h2>
        <br>
        <div class="row" style="border: 2px solid;width:99%;margin-left:5px" id="heading">
            <h4> Host : Venkat</h4>
            <h4> Table : Profiler_sk </h4>
            <h4> DB Name: Netezza </h4>
        </div>
        <br/>
        <h4><center><b>Element Metrics</b></center></h4>
        <table border="2" class="table">
            <tr>
                <th>Column Name</th>
                <th>Data Type</th>
                <th>Is Nullable</th>
            </tr>
            <tr>
                <td>Value_SK</td>
                <td>INT</td>
                <td>False</td>
            </tr>


        </table>
        <!--<br/>-->
        <h4><center><b>Domain Metrics</b></center></h4>
        <table id= "userdata" border="2" class="table">

            <tbody>
            <tr><th>Total Rows</th><th>Nulls</th></tr>
            <tr>
                {%if dom_data %}
                <td> {{dom_data}} </td>
                {% endif %}
            </tr>

            </tbody>



        </table>
        <div id="range_metrics"></div>
        <h4><center><b> Quadrant Metrics </b></center></h4>
        <div id="metrics_data" style="border:2px solid;">
        </div>

        <ul>
            {% for name in names %}
            <li>{{name}}</li>
            {% endfor %}
        </ul>

    </div>

</body>
</html>
